[Unit]
Description=Install OPKE addons
ConditionPathExists=!/opt/addons/init_addons.done
Requires=bootkube.service
After=bootkube.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/addons

User=root
Group=root

ExecStart=/usr/bin/bash /opt/addons/addons-wrapper
ExecStartPost=/bin/touch /opt/addons/init_addons.done